
 .jcc{
     justify-content: center !important;
 }
 .jcb{
     justify-content: space-between !important;
 }
 .aic{
     align-items: center !important;
 }

 ul,p{
    margin: 0 !important; 
    padding: 0 !important;
}

 
 a {
     text-decoration: none !important;
     cursor: pointer;
 }
 
 li{
    list-style: none !important;
}
.icon-cotm{
    
    font-weight: 200;
    font-size: 3rem;
    @media (max-width:990px){
        font-size: 1.5rem;
    }

}
.bi bi-x{
    transition: 0.5s;
}
.btn-cotm{
    outline:none !important;
    background-color: unset !important;
    border: none !important;
    outline: none;
    cursor: pointer;
}
.h-100px{
    
    @media (max-width:990px){
        height: 80px;
    }
    @media (max-width:575px){
        height: 50px;
    }
    @media (min-width:991px){
        height: 100px;
    }

}
.mx-60{
    
    @media (max-width:990px) {
        margin: 0 30px;
        
    }
    @media (max-width:575px) {
        margin:0 1rem;
    }
    @media (min-width:991px) {
        margin: 0 60px;

    }
    
}
.section_blankT{
    margin-top: 85px;
}
.font_base{
    font-family: "Pretendard";
}

.flexbetween_yys{
    display: flex !important;
    justify-content:space-between !important;
    align-items: center !important;
   }
 .flexcenter{
    display: flex !important;
    justify-content:center !important;
    align-items: center !important;
 }
         
.h-uu{
    background-color: #FE663F;
    width:100%;
    height: 700px;
}
 
 #hd_yys{
     
     background-color: #FE663F !important;
     position: fixed;
     padding: 0 48px;
     z-index: 1000;
     

     h1{
        height: 100%;
        a{
            align-items: center;
            display: flex;
        }
        img{
            
            height: 50px;
            @media (max-width:990px){
                height: 30px;
            }
        }
        @media (max-width:991px){
            
        }

       }
     button{
        @media (max-width:991px){
            position: absolute;
            right: -3%;
            z-index: 10000;

        }
     }
     .login{
        z-index: 100000;
        @media (max-width:991px){
            left: 70%;
            position: absolute;
            z-index: 20000;
        }
        @media (max-width:720px){
            left: 58%;
        }
        @media (max-width:320px){
            left: 49%;
        }

     }
     .gnb
     {
        @media (max-width:991px) {
            display: none;
            padding: 9px 0px;
            height:600px;
            right: 0;
            left:50%;
            top: 0px;
            border: 1px solid black;
            border-radius: 20px 0 0 20px;
            background-color: rgb(255, 255, 255);
            
            
              .gnb_li{
                    padding: unset;
                }
            
           
            
       }
       &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        height: 0px;
        transition: height 0.5s;
        border-bottom: 1px solid #cc5638 !important;
        background-color: #ff6943 !important;
        border-bottom: none !important;
        margin-bottom: 0 !important;
        @media (max-width:991px){
            height: unset !important;
        }
       }
        &:hover{
            &:before {
                content: "";
                left: 0;
                right: 0;
                top: 100%;
                height: 205px;
                .gnb_li{
                   
                    
                    .gnb_ul{
                    width: 100%;
                    height: 180px;
                    transition: 0.5s;
    
                    }
                }
               }
            @media (min-width:992px) {
                .gnb_li{
               
                
                    .gnb_ul{
                    height: 180px;
                    transition: 0.5s;
    
                    }
                }
                
            }
            
        }
       

    }
                 
             
                 
                     
                    
                        .gnb_ul{
                            height: 200px;
                           
                        }
                    
                     
                     
                 
                 
                 .gnb_li{
                     position: relative;
                     transition: 0.5s;
                     padding:0 80px;
                     display: flex;
                     flex-direction: column;
                     @media (max-width:1200px){
                        padding: 0 29px;
                     }
                     @media (max-width:991px){
                        // position: unset;
                        padding: unset;
                        top: 8%;
                        .gnb_ul{
                            max-height: 0;  
                            height: auto !important;     
                            text-align: unset !important;
                            a{
                                padding-left: 20px !important;
                            }                        
                        }
                        &.action{
                            .gnb_a{
                                
                                span{
                                    
                                     color: #FE663F !important;
                                    &::before{
                                        
                                        width: 0% !important;
                                        border-radius: unset;
                                        
                                    }
                                    

                                }
                                
                            }
                            &::after{
                                content: "+";
                                font-size: 1.5rem;
                                color: #FE663F !important;
                            
                                
                            }
                            .gnb_ul{
                                width: 100%;
                                background-color: #FF6943;
                                max-height: 150px;
                                transition: max-height 1.2s;
                                transform: unset;
                                a{
                                    span{
                                        font-size: 12px;
                                        font-weight: 400;
                                        line-height: 12px;
                                        color: #ffffff;
                                    }
                                }

                            }
                        }
                        &::after{
                            content: "+";
                            position: absolute;
                            font-size: 1.5rem;
                            color: #000000;
                            right: 20px;
                            top: 26px;
                            
                        }
                     }

                     &:hover{
                        
                        
                         .gnb_a{
                             span{
                                    
                                     
                                     font-family: "Pretendard";
                                     font-size: 22px;
                                     font-weight: 400;
                                     color: #ff6943; 
                                     
                                     &:before {
                                      width: 40%;

                                    }
                                    @media (max-width:991px) {
                                        font-size: 14px;
                                        font-weight: 500;
                                        color: #414b5a;
                                        &::before{
                                            width: unset;
                                        }
                                    }  
                                   
                             }
                             
                            
                             
                             
                         }
                        
                         
                         
                      }
                     
                     .gnb_a{
                                     line-height: 100px;
                                     font-family: "Pretendard";
                                     font-size: 22px;
                                     font-weight: 400;
                                     color: #414b5a;
                                     @media (max-width:991px){
                                        line-height: 64px;
                                        font-size: 14px;
                                        font-weight: 500;
                                        padding-left: 20px !important;
                                        

                                     }
                                     span{
                                        &:before {
                                        
                                         content: "";
                                         // left: 35px;
                                                 // right: 35px;
                                                 transform: translateX(-50%);
                                                 left: 50%;
                                                 height: 4px;
                                                 top: 81px;
                                                 width: 0;
                                              
                                                 position: absolute;
                                                 z-index: 1000000;
                                                 background: #ff6943;
                                                 border-radius: 3px;
                                                 transition: all 0.4s;
                                                 @media (max-width:991px){
                                                    left: 50%;
                                                    top: 19%;
                                                    width: 0 !important;
                                                 }
                                     }
                                     
                                 }
                     }
                 
                 .gnb_ul {
                    @media (max-width:991px){
                        
                        position: unset;
                        &:after,
                        &:before{
                        content: "";
                        
                        height: unset !important;
                              
                        }
                        a{
                            line-height: 50px;
                        }

                    }
                             overflow: hidden;
                             height: 0;
                             top: 100%;
                             // margin-top: 30px !important;
                             transition: height 0.5s;
                             // left: -93px;
                             transform: translateX(-50%);
                             left: 50%;
                             padding: 0;
                             text-align: center;
                             white-space: nowrap !important;
                             position: absolute;
                             
                             min-width: 150px;
                       
                             &:after,
                             &:before {
                               content: "";
                               display: block;
                               height: 40px;
                              
                             }
                       
                             a {position: relative;
                                 font-family: "Pretendard";
                                 font-size: 18px;
                                 font-weight: 400;
                                 color: #8D1414;
                                 display: block;
                                 height: 50px;
                                
                       
                               &:hover {
                                 font-family: "Pretendard";
                                 font-size: 18px;
                                 font-weight: 400;
                                 color: #ffffff;
                                 display: block;
                                 height:50px;
                                 
                                     span{
                                         
                                         &:before{
                                             content: "";
                                             transform: translateX(-50%);
                                             left: 50%;
                                             position: absolute;
                                             z-index: 1000000;
                                             top: -14%;
                                             width: 30%;
                                             border-top:1.5px solid #ffffff;
                                             padding: 5px 0;
                                             transition: 0.2s;
                                             @media (max-width:991px) {
                                                content: unset;
                                             }
                                         }
                                         
                                         
                                     } 
                                 }
                                 span{
                                     &::before{
                                         content: "";
                                         transform: translateX(-50%);
                                                 left: 50%;
                                         width: 0%;
                                     }
                                 }
                                
                             }
                             span{
                                 &::before{
                                     content: "";
                                     
                                     width: 0;
                                     
                                 }
                             } 
                     
                          }           
     }        
     .bstyle{
        &::before{
            content: " x ";
            transition: 0.5s;
            transform: scale(1.2);
        }
     }
     .font_login_pyj{
         font-family: "Pretendard";
         font-size: 14px;
         font-weight: 400;
         color: #414B5A;
         list-style: none;
         text-wrap: nowrap;
         &:hover { 
             color: #FF6943 !important;
         }
         @media (max-width:991px) {
            font-size: 12px;
            font-weight: 600;
            padding: 15px 10px;
         }
         @media (max-width:575px) {
            padding: unset !important;
         }

     }
     // hover 추가 완료
 }

 #mainbanner_yys{
     overflow: hidden;
     // padding: 100px 0 200px 0;
     // #mainbanner_yys 에서 .mainbanner_pyj로 새로 class 만듬
     // padding: 100px 0 200px 0; 에서 padding: 100px 0 40px 0;으로 수정함 - pyj(5/23)
 }
 .mainbanner_pyj{
     padding: 100px 0 80px 0;
 }
 .main_image_center_yys{
     max-width: 1400px;
     border-radius: 20px;
   }
   .main_image_side_yys{
     max-width: 1000px;
     border-radius: 20px;
   }
   .dja_yys{
     display: flex;
     align-items: center;
     justify-content: center;
   }
   #pagination{
     top:740px;
     position: relative;
     width: 137px;
     height: 16px;
     display: flex !important;
     position: absolute;
     align-items: center;
     justify-content: center;
     
 
         ul{
             display: flex;
             align-items: center;
             justify-content: center;
             padding: 0;
             margin: 0;
             width: 137px;
             height: 16px;
             
             li{
                 
                 width: 17px;
                 height: 16px;
                 background-color: #D9D9D9;
                 border-radius: 30px;
                 padding: 0;
                 margin: 5px;
                 &:hover{
                     background-color: #797979;
                 }
 
                 a{
                     width: 17px;
                     height: 16px;
                     display: block;
                 }
             }
         }
   }
 
//    #collab_banner_yys{
    
//      background-image: url(/public/img/png/collab_banner.jpg);
//      max-width: 1400px;
//      margin: 0 auto;    
//      background-repeat: no-repeat;
//      border-radius: 20px;    
//      display: flex;
//      flex-direction: column;
//      padding: 0;
//      background-position: right center;
//      background-size: auto 100%;
//      font-family: 'Pretendard';
//      background-color: #BFEFFA !important;
//      margin-top: 20px;
//      margin-bottom: 150px;
 
//      .collab_img{
//          padding:15px 0;       
//          display: flex;
//          align-items: center;
//          justify-content: center;
 
//          .collab_font_yysH2{          
//              letter-spacing: -0.5px;            
//              font-size: 30px;    
//          }
//          .collab_font_yysP{             
//              letter-spacing: -0.7px;            
//              font-size: 20px;
 
//          }
//          .collab_font_yysPt{
        
//              line-height: 17px;
//              letter-spacing: -0.6px;          
//              font-size: 16px;
//              font-weight: 400;
//          }
//          a{
//              color: #3B3B3B !important;
//          }
     
//      }
 
//    }
  

   #yswiper{
        position: relative;
        overflow: hidden !important;
        margin-top: 7.8rem;
        // height: 767px ;
        margin-bottom: 120px;
       
        @media (min-width:768px) {
            overflow: hidden !important;
            margin-top: 7.8rem;
            // height: 545px;
            margin-bottom: 120px;
        }
        @media (max-width:768px){
            height: unset;
            margin-top: 5.4rem;
            margin-bottom: 80px;
        }
    
      .main_caver{
        position: relative;
        
        margin: 0 auto !important;
        

         .swiper-wrapper{
            padding-bottom: 50px;
        
            @media (max-width:991px) {
              
            }

            .bs{
                height: 478px !important;
                transform:unset;
                @media (min-width:1440px) {
                transition: transform 0.5s;        
                border-radius: 20px;               
                height: 400px;
                margin: 133px 70px !important;
                }
                @media (max-width:768px) {
                    transform: unset;
                    height: 96vw !important;
                    border-radius: 20px;
                    
                }
                
            }
            .swiper-slide-active .bs
            {   height: 478px !important;
                transform:unset;
                @media (min-width:1440px){
                    margin: 37px 70px !important;
                    transform: scale(1.12);
                    transition: 0.5s;
                    height: 600px !important;
                    
                }
                @media (max-width:768px) {
                    transform: unset;
                    height: 96vw !important;
                    border-radius: 20px;
                    
                }
            }
          }
       }
  
  
   
     
      
  
      .ov{
        width: 100%;
        // margin: 30px 0;
      }
  

      .swiper-pagination-bullet{
          position: unset !important;
          width: 17px !important;
          height: 18px !important;
          border-radius: 60px !important;
          background-color: #D9D9D9;
          opacity: 1 !important;
          z-index: 100;
          @media (max-width:768px) {
            width: 14px !important;
            height: 15px !important;
          }
          @media (max-width:551px) {
            width: 9px !important;
            height: 10px !important;
          }
         
          
  
  
      }
      .swiper-pagination{
        z-index: 0;
      }
      .swiper-pagination-bullet-active{
          background-color: #797979;
          opacity: 1 !important;
          
          
          
      }
      
   }
 
   #yfooter{
    margin:1.5rem 15rem;
    @media (max-width:991px) {
        margin: 0;
    }
    
    .fm_menu{
       
        
        @media (max-width:991px) {
           
            background-color: #FFF4DF;
            overflow: hidden;
            transition: 0.5s;
            max-height: 0px;
            ::before{
                content: "";

            }
            
            &.tr{
                padding: 20px 0 11px 0;
                max-height: 200px;
                
            }
        }
        
        
        
        
    }
    .helpUs{
        font-size: 18px;
        font-weight: 700;
        color: #1F2937;
        
        @media (max-width:991px) {
            font-size: 12px;
            font-weight: 400;
            margin-left: 30px !important;
        }
    }
    //어글리어스 고객센터
    .snsicon{
        min-width: 204px;
        img{
            width: 35px;
        }
    }
    // sns 아이콘
    .day{
        font-size: 14px;
        font-weight: 600;
        color: #1F2937;
        @media (max-width:991px) {
            font-size: 12px;
            font-weight: 400;
        }
    }
    //고객센터 가능 요일
    .dayS{
        font-size: 14px;
        font-weight: 300;
        color: #414B5A;
        @media (max-width:991px) {
            font-size: 12px;
            font-weight: 300;
        }
    }
    //고객센터 요일별 시간 스케줄
    .tiem{
        height: 73px;
        max-width: 315px;
        li{
            line-height: 22px;
        }
    }
    .about{
        
        @media (max-width:991px) {
            margin: 13px 30px  7px 30px !important;
        }
        li{
            p{
                text-wrap: nowrap;
                font-size: 13px;
                font-weight: 300;
                color: #414B5A;
                @media (max-width:991px) {
                    margin-bottom: 4px !important;
                    font-size: 12px;
                    font-weight: 300;
                }
                
            }
        }
    }
    
    .m_btn{
        margin-left: 30px;
        p{
            font-size: 12px;
            font-weight: 400;
            color: #1F2937;
            
        }
        

        button{
            background-color: unset;
            border: 0;
            font-size: 1rem;
            font-weight: 400;
        }
    }
    .fBtns{
        width: 135px;
        height: 40px;
        font-size: 14px;
        font-weight: 800;
        color: #FFF;
        border-radius: 20px ;
        border: none; /* 테두리 없음 */
        background-color: #FE663F !important;
    }
    h2{
        a{
            img{
                max-width: 160px;
            }
        }
    }
  
    .svi{
        @media (max-width:1400px){
            max-width: 195px;

        }
        @media (max-width:991px){
            max-width: 169px;

        }
        p{
            a{
                height: 30px;
                color: #414B5A;
                font-weight: 400;
                font-size: 13px;
                @media (max-width:991px) {
                    font-size: 12px;
                    font-weight: 400;
                    
                
                }
            }
            
            

        }
    }
   }

   .beforedim #hd_yys .onj:before{
    content: "";
    z-index: 100;
    display: block;
    position: fixed;
    left:0; right:0; top:0; bottom:0;
    background-color: rgba(0,0,0,.5);
        

    
   
   }
   